.card {
  width: 280px;
  height: 340px;
  border-radius: 20px;
  transition: all 0.3s;
}

.card2 {
  width: 243px;
  height: 340px;
  background-color: #000000;
  border-radius: 10px;
  transition: all 0.2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(200, 0, 255, 0.427);
}
.img {
  height: 11rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.cardName {
  font-family:  "Arial Narrow Bold", sans-serif;

  font-size: 1rem;
  color: white;
  text-align: center;
}
.cardRating {
  font-size: 1rem;
  color: white;
  text-align: center;
}
.cardGenres {
  font-size: 1rem;
  color: white;
  text-align: center;
}
.genres {
  font-size: 0.7rem;
  color: var(--color-pagination);
}
